.p-card .p-card-content {
    padding: 0rem 0;
}
::ng-deep .p-card .p-card-title 

{
    margin: 0;
    
}
::ng-deep .p-panel .p-panel-header
{
    background-color: white;
}
img{
    height: 50px;
    padding-left: 5px;
}
input{
    width: 100%;
}
.p-email{
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
     display: flex;
     flex-direction: column;
}
label{
    padding: 5px;
    text-align:start;
}
h5{
    margin: 0;
}
.forgotpassword
{
    display: flex;
    justify-content: space-between;
    padding: 10px;width: 90%;
}
a{
    padding-top: 5px;
    padding-left: 25px;
    color: black;
}
.help{
    display: block;
    text-align: center;
}