<p-panel>
    <p-header [style]="{'display':'flex','justify-content':'space-between','width':'100%'}">
        <img src="https://th.bing.com/th/id/OIP.lzGZWS2WsZ5oix9JcIboXQHaDM?w=295&h=150&c=7&r=0&o=5&pid=1.7">
        <p>Questions 888-550-7512</p>
    </p-header>
    <form [formGroup]="myForgotForm" (submit)="onsubmit(myForgotForm)">
        <p-card header="Forgot Password" [style]="{width:'600px',margin:'auto',height:'full'}">
            <h5>Please Enter your email address</h5>
            <div class="field p-email">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" name="email"
                    [ngClass]="{'focused': isInputFocused}" (focus)="onInputFocus()" (blur)="onInputBlur()" />
                <span *ngIf="email.hasError('required') && (email.touched || email.dirty)">Email is Required</span>
                <span *ngIf="email.hasError('pattern')">Please Enter a Valid email</span>
            </div>


            <div class="forgotpassword">
                <a routerLink="/login" routerLinkActive="active">Login</a>
                <div class="mt-2">
                    <p-button label="Login" styleClass="w-full"
                        [style]="{'background-color': '#ef9e0b','border':'none'}"></p-button>
                </div>
            </div>

            <div class="help">
                <p>Need help?</p>
                <p>help@axiasolarusa.com</p>
            </div>

        </p-card>
    </form>
</p-panel>